body{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	background: #be8540;
}

.flex-flip-main{
  display: flex;
  justify-content: space-around;
}
 .flex-flip-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

div.flip-card-container{
  width: 250px;
  height: 320px;
  position: relative;
  margin-bottom: 15px;
  
}

div.flip-card{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
  position: absolute;
  border-radius: 15px;
  background: white;
  box-shadow: 10px 10px 15px rgba(120,2,50,0.2),
			15px 15px 15px rgba(0,0,0,0.1),
			inset -5px -5px 5px rgba(255,255,255,0.2),
			inset 5px 5px 5px rgba(0,0,0,0.1);
}

.flip-card.flipped{
  transform: rotateY(180deg);
}

div.flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #FAEBD7;
  color: black;
  border: 1px;
  border-radius: 15px; 
}

div.flip-card-back{
  position: absolute; 
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: black;
  color: white;
  transform: rotateY(180deg);
  border: 1px;
  border-radius: 15px;
}


#faces{
  border: 1px ;
  border-radius: 15px;    
  width: 250px;
  height: 320px;
}


